################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/alglaba4.1/alglaba4.1
/alglaba4.1/alglaba4.1.sln
/alglaba4.1/.vs
